body {
    background-image: url(https://github.com/asjusanmiguel/asjusanmiguel.github.io/blob/master/assets/images/video-caratule.png?raw=true);
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;

}