body {
    padding: 0;
    margin: 0;

}
heavy-navbar {
  --heavy-navbar-background : #f09409 ;
 --havy-navbar-color : # FFFFFF ;
 --havy-navbar-hover-color : #ffffff ;
}

.content {
  margin-top: 100px;
}

h1 {
 font-family: 'Raleway', Georgia, Times, serif;
 font-size: 70px;
 line-height: 100px;
}
 
p {
 font-family: 'Cabin', Helvetica, Arial, sans-serif;
 font-size: 15px;
 line-height: 25px;
}